
.navbar {
    font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 750;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }

  .navBarBrand {
    font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif in !important;
    font-weight: 1500 !important;
    font-size: x-large !important;
  }

  .navContainer {
    gap: 20px !important;
  }

  .avatar {
    height: 30px !important;
    width: 30px !important;
  }

  .brandNameFirst {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .brandNameLast {
    color: #1F9F1F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .nav-link {
    padding-left: 12px !important;
    padding-right: 12px !important;
    color: slategrey !important;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  .collapseNavBar {
    flex: space-between !important;
    padding-right: 10%;
  }

  .navRightDropdownContainer {
    align-items: center;
  }

  #collasible-nav-dropdown {
    width: 65%;
  }

