.practitionerDetailsCardContainerExtended {
    display: flex;
    padding: 2%;
    margin: 3%;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    box-shadow: 1px 1px 2px 2px lightgrey;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.bottomLeftDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
}

.bottomLeftDetails p {
    padding-left: 3% !important;
    padding-right: 25% !important;
}

.bottomRightDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
}

.bottomRightDetails p {
    padding-left: 3% !important;
    padding-right: 25% !important;
}