.search-bar {
    margin-right: 3% !important;
    margin-left: 3% !important;
    padding-right: 5% !important;
    padding-left: 5% !important;
}

.leftColumn {
    padding-left: 2%;
    padding-right: 1%;
}

.sortBy {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.sortByLeft {
    display: flex;
    flex-direction: row;
    color: #1F9F1F !important;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
}


.dropdown-toggle {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    width: 250px;
}

.dropdown-menu {
    width: 250px;
    align-items: center !important;
}

.practitionerCard {
    max-height: 450px;
    overflow: scroll; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
    justify-self: center;
    margin-top: 35px !important;
}

.map-container {
    border-radius: 2%;
    width: 100%;
    height: 520px;
}

::-webkit-scrollbar {
    width: 0.1em;
    background-color: #F5F5F5;
}
